<div class="breadcrumbs">
    <a href="#" class="breadcrumbs__link">Liebherr</a>
    <span class="breadcrumbs__sep">/</span>

    <a href="#" class="breadcrumbs__link">Акции и статьи</a>
    <span class="breadcrumbs__sep">/</span>

    <span class="breadcrumbs__text">Уход за вытяжкой</span>
</div>
<h1 class="title">Причины неполадок холодильника Liebherr и ремонт своими руками</h1>
<div class="articles articles-main">
    <div class="articles-main__section">
        <img src="images/article__main.jpg" srcset="images/article__main@2x.jpg 2x,images/article__main@3x.jpg 3x"
            class="special-offers__img catalog__img">
        <div class="articles-main__info">
            <span class="articles-main__name">На сегодняшний день компания Liebherr, основанная более полувека назад
                немецким инженером-промышленником Гансом Либхерром, представляет собой целую корпорацию, поражающую
                своими успехами сразу в нескольких областях. Один из ведущих мировых изготовителей строительной и
                горно-шахтной техники, Liebherr, в то же время, является признанным лидером в производстве холодильного
                оборудования премиум-класса.</span>
            <h2>Не работает вентилятор</h2>
            <p>
                Чтобы заменить сломанный вентилятор, следует снять защитную крышку с
                отверстиями, которая находится на задней или боковой стенке холодильника. При отсоединении мотора от
                питания, холодильник должен быть полностью выключен. Практически любая мастерская по ремонту бытовой
                техники берется за починку таких устройств. Наиболее типичные проблемы — это замена подшипника или
                обрыв проводки.
            </p>
            <h2>Не отключается компрессор</h2>
            <p>
                В этом случае без замены компрессора не обойтись, так как
                ремонтировать его самостоятельно нельзя. Обратитесь в сервисный центр. Проследите, чтобы мастер
                установил новый компрессор, с техническими характеристиками, которые соответствуют системе охлаждения
                вашего прибора.
            </p>
            <h2>Замена датчика температуры, датчика испарителя</h2>
            <p>
                еисправность сенсорных датчиков температуры
                можно определить по тому, что начинает перемораживать холодильная камера, на дисплее загорается ошибка
                F2 или мигает кнопка «Alarm/. В таком случае самое время обратиться в сервис.
            </p>
            <h2>Не работает вентилятор</h2>
            <p>
                Чтобы заменить сломанный вентилятор, следует снять защитную крышку с
                отверстиями, которая находится на задней или боковой стенке холодильника. При отсоединении мотора от
                питания, холодильник должен быть полностью выключен. Практически любая мастерская по ремонту бытовой
                техники берется за починку таких устройств. Наиболее типичные проблемы — это замена подшипника или
                обрыв проводки.
            </p>
            <h2>Не отключается компрессор</h2>
            <p>
                В этом случае без замены компрессора не обойтись, так как
                ремонтировать его самостоятельно нельзя. Обратитесь в сервисный центр. Проследите, чтобы мастер
                установил новый компрессор, с техническими характеристиками, которые соответствуют системе охлаждения
                вашего прибора.
            </p>
            <h2>Замена датчика температуры, датчика испарителя</h2>
            <p>

                Неисправность сенсорных датчиков температуры
                можно определить по тому, что начинает перемораживать холодильная камера, на дисплее загорается ошибка
                F2 или мигает кнопка «Alarm/. В таком случае самое время обратиться в сервис.
            </p>
            <a href="05 - 01 - Promotions and articles_desktop.html" class="article-back">Назад к новостям</a>
        </div>
    </div>
    <div class="articles__items">
        <span class="articles__title">Другие новости</span>
        <div class="articles__item">
            <a class="articles__pic" href="#"><img src="images/articles_1.jpg" srcset="images/articles_1@2x.jpg 2x,images/articles_1@3x.jpg 3x"
                    class="articles__img"></a>
            <a href="#" class="articles__text">Как правильно разморозить холодильник Либхер</a>
            <span class="articles__date">25 марта 2018</span>
        </div>
        <div class="articles__item">
            <a class="articles__pic" href="#"> <img src="images/articles_2.jpg" srcset="images/articles_2@2x.jpg 2x,images/articles_2@3x.jpg 3x"
                    class="articles__img"></a>
            <a href="#" class="articles__text">Преимущества встраиваемых микроволновых печей Liebherr </a>
            <span class="articles__date">25 марта 2018</span>
        </div>
        <div class="articles__item">
            <a class="articles__pic" href="#"><img src="images/articles_3.jpg" srcset="images/articles_3@2x.jpg 2x,images/articles_3@3x.jpg 3x"
                    class="articles__img"></a>
            <a href="#" class="articles__text">Сравнение холодильника Liebherr CNbs 4015 Comfort NoFrost и Liebherr CN
                4813</a>
            <span class="articles__date">25 марта 2018</span>
        </div>
        <div class="articles__item">
            <a class="articles__pic" href="#"><img src="images/articles_4.jpg" srcset="images/articles_4@2x.jpg 2x,images/articles_4@3x.jpg 3x"
                    class="articles__img"></a>
            <a href="#" class="articles__text">ICS Система интеллектуального контроля у стиральных машин</a>
            <span class="articles__date">25 марта 2018</span>
        </div>
    </div>
    <div class="special-offers similar-models articles-main__slider">
        <!-- Slider main container -->

        <div class="container">
            <span class="special-offers__title">Рекомендованные товары</span>
            <!-- Slider main container -->
            <div class="swiper-container swiper-container-two  js-swiper-two">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper special-offers__wrapper">
                    <div class="catalog__item swiper-slide ">
                        <a class="catalog__pic" href="#">
                            <img src="images/new-items_3.jpg" srcset="images/new-items_3@2x.jpg 2x,images/new-items_3@3x.jpg 3x"
                                class="special-offers__img catalog__img">
                        </a>
                        <a href="product-card.html" class="special-offers__text  catalog__text">Винный шкаф
                            Liebherr EWTgw 3583
                            Vinidor</a>
                        <span class="catalog__presence">в наличии</span>
                        <div class="catalog__specification">
                            <span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
                            <span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
                            <span class="catalog__feature">Полезный объем холодильной камеры (л): <span class="catalog__bold">107</span></span>
                            <span class="catalog__feature">Полезный объем морозильной камеры (л):<span class="catalog__bold">15</span></span>
                            <span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
                        </div>
                        <div class="catalog__prop">
                            <a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties.png" class="icons-prop-item" title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
                            </a>
                            <a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties2.png" class="icons-prop-item" title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
                            </a>
                            <a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties-appp.png" class="icons-prop-item" title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
                            </a>
                            <a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties.png" class="icons-prop-item" title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
                            </a>
                            <a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties2.png" class="icons-prop-item" title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
                            </a>
                            <a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties-appp.png" class="icons-prop-item" title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
                            </a>
                        </div>
                        <div class="special-offers__sale catalog__sale">
                            <span class="special-offers__price catalog__price">134 200<i class="special-offers__rub catalog__rub">руб.</i></span>
                            <a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
                        </div>
                        <div class="catalog__existence">

                            <a href="#" class="catalog__simile">Добавить в сравнение</a>
                            <a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
                        </div>
                        <div class="announcing">
                            <div class="announcing__item">
                                <img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
                            </div>
                            <div class="announcing__item">
                                <img src="images/small/new.svg" alt="Новинка" title="Новинка">
                            </div>
                            <div class="announcing__item">
                                <img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
                            </div>
                            <div class="announcing__item">
                                <img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
                            </div>
                        </div>
                    </div>
                    <div class="catalog__item swiper-slide ">
                        <a class="catalog__pic" href="#">
                            <img src="images/new-items_1.jpg" srcset="images/new-items_1@2x.jpg 2x,images/new-items_1@3x.jpg 3x"
                                class="special-offers__img catalog__img">
                        </a>
                        <a href="product-card.html" class="special-offers__text catalog__text">Холодильник Liebherr
                            SBS 66I2
                            Premium NoFrost (SICN 3386 + ICN 3386)</a>
                        <span class="catalog__presence">в наличии</span>
                        <div class="catalog__specification">
                            <span class="catalog__feature">Цвет:<span class="catalog__bold">белый</span></span>
                            <span class="catalog__feature">Габариты (см):<span class="catalog__bold"> 63x55.4x62.4</span></span>
                            <span class="catalog__feature">Полезный объем холодильной камеры (л): <span class="catalog__bold">107</span></span>
                            <span class="catalog__feature">Полезный объем морозильной камеры (л):<span class="catalog__bold">15</span></span>
                            <span class="catalog__feature">Тип размораживания:<span class="catalog__bold">ручная</span></span>
                        </div>
                        <div class="catalog__prop">
                            <a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties.png" class="icons-prop-item" title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
                            </a>
                            <a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties2.png" class="icons-prop-item" title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
                            </a>
                            <a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties-appp.png" class="icons-prop-item" title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
                            </a>
                            <a href="/glossary/nofrost.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties.png" class="icons-prop-item" title="NoFrost – благодаря этой современной системе продукты замораживаются с помощью циркулирующего охлажденного воздуха, подающегося специальным вентилятором. Влажный воздух выводится наружу, что позволяет предотвратить образование инея&nbsp;&nbsp;на стенках морозильного отделения, и тем самым забыть о процедуре размораживания.">
                            </a>
                            <a href="/glossary/holidaymode.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties2.png" class="icons-prop-item" title="HolidayMode – выбор данного режима обеспечивает поддержание постоянной температуры на уровне +15 °С. В случае длительного отсутствия владельцев установка режима HolidayMode гарантирует экономию электроэнергии и защиту от образования посторонних запахов в пустой камере.">
                            </a>
                            <a href="/glossary/klassy-energopotrebleniya-a-i-a-.html#popup-glossary" class="link-pop-glossary">
                                <img src="images/icons-properties-appp.png" class="icons-prop-item" title="Классы энергопотребления A+ и A++ – экономия энергии. Потребление энергии в холодильном и морозильном оборудовании этих классов заметно снижено. Экономичность моделей данной серии убеждает даже самых бережливых хозяев и вносит активный вклад в охрану окружающей среды.">
                            </a>
                        </div>
                        <div class="special-offers__sale catalog__sale">
                            <span class="special-offers__price catalog__price">98 400<i class="special-offers__rub catalog__rub">руб.</i></span>
                            <a href="#" data-url="ajax/add-cart.html" data-ajax class="special-offers__buy">купить</a>
                        </div>
                        <div class="catalog__existence">
                            <a href="#" class="catalog__simile">Добавить в сравнение</a>
                            <a href="#" class="catalog__oneclick">Купить&nbsp;в&nbsp;1&nbsp;клик</a>
                        </div>
                        <div class="announcing">
                            <div class="announcing__item">
                                <img src="images/small/flag_austria_small.svg" alt="сделано в Австрии" title="сделано в Австрии">
                            </div>
                            <div class="announcing__item">
                                <img src="images/small/new.svg" alt="Новинка" title="Новинка">
                            </div>
                            <div class="announcing__item">
                                <img src="images/small/tools.svg" alt="Бесплатное подключение" title="Бесплатное подключение">
                            </div>
                            <div class="announcing__item">
                                <img src="images/small/truck.svg" alt="Бесплатная доставка" title="сделано в Германии">
                            </div>
                        </div>
                    </div>

                </div>
                <!-- If we need pagination -->

                <!-- If we need navigation buttons -->
                <!-- If we need scrollbar -->
            </div>
            <div class="swiper-pagination_2"></div>
            <div class="swiper-button-prev special-offers_prev"></div>
            <div class="swiper-button-next special-offers_next"></div>
        </div>


    </div>
</div>
<div class="reviews_article">
    <div class="reviews__top">
        <div class="reviews__section">
            <span class="reviews__all">Комментарии 3</span>
        </div>
        <a href="#callback-form" class="reviews__link">оставить комментарий</a>
    </div>
    <div class="reviews-list">
        <div class="reviews-list__item" itemscope="" itemtype="">
            <div class="reviews-list__field reviews-list__field_header">
                <div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
                    <strong itemprop="name">Ирина</strong>
                </div>
                <div class="reviews-list__col reviews-list__col_date">
                    <meta itemprop="datePublished" content="2018-08-30">
                    28 января 2018
                </div>
            </div>
            <div class="reviews-list__field">
                <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                    Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
                    она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
                    просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
                    сомневались, что это наш выбор.
                </div>
            </div>
            <!-- /.reviews-list__field -->
            <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
        </div>
        <div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
            <div class="reviews-list__field reviews-list__field_header">
                <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
                    <strong itemprop="name">Сергей</strong>
                </div>
                <div class="reviews-list__col reviews-list__col_date">
                    <meta itemprop="datePublished" content="2018-08-30">
                    28 января 2018
                </div>
            </div>
            <div class="reviews-list__field">
                <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                    Сделав ремонт на кухне, встал вопрос о покупке новой плиты. Выбирали долго, так как работать
                    она будет не один год. Выбрали электроплиту Gorenje EC 67 CLB. Красивый дизайн в ретро стиле
                    просто покорил нас, а когда увидели, что варочная панель из стеклокерамики, то уже ни грамма не
                    сомневались, что это наш выбор.
                </div>
            </div>
            <!-- /.reviews-list__field -->
            <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
        </div>
        <div class="reviews-list__item" itemscope="" itemtype="http://schema.org/Review">
            <div class="reviews-list__field reviews-list__field_header">
                <div itemprop="author" itemscope="" itemtype="http://schema.org/Person" class="reviews-list__col">
                    <strong itemprop="name">Олег</strong>
                </div>
                <div class="reviews-list__col reviews-list__col_date">
                    <meta itemprop="datePublished" content="2018-08-30">
                    28 января 2018
                </div>
            </div>
            <div class="reviews-list__field">
                <div class="reviews-list__col reviews-list__col_desc" itemprop="reviewBody">
                    Выбирали долго, так как работать она будет не один год.
                </div>
            </div>
            <!-- /.reviews-list__field -->
            <meta itemprop="itemReviewed" content="Siemens WD15H541OE">
        </div>
    </div>
    <form class="add-comment__form" action="" method="post" id="callback-form">
        <span class="form__title add-comment__title">Комментировать</span>
        <div class="add-comment__row">
            <strong class="add-comment__name">Ваш комментарий:<span class="abuse-popup__req callback__req">*</span></strong>
            <textarea rows="4" cols="40" name="ORDER_PROP_272" id="ORDER_PROP_272" placeholder="Ваш комментарий *"></textarea>
            <span class="add-comment__text">Комментарии публикуются после проверки
                модераторами. Перед отправкой вашего
                комментария убедитесь, что он не нарушает
                правил модерации.</span>
        </div>
        <div class="add-comment__row">
            <strong class="add-comment__name">Ваше имя:<span class="abuse-popup__req callback__req">*</span></strong>
            <input type="text" name="phone" value="" id="input-phone" placeholder="Ваше имя *">
        </div>
        <div class="add-comment__row">
            <strong class="add-comment__name">Email:<span class="abuse-popup__req callback__req">*</span></strong>
            <input type="email" name="" value="" id="input-name" placeholder="Email *">
            <span class="add-comment__text">Email на сайте не публикуется. На вашу почту
                придёт уведомление о статусе комментария.</span>
        </div>
        <div class="add-comment__item">
            <input type="submit" value="Отправить" class="btn-sub3 abuse-popup__submit" name="">
        </div>
    </form>
</div>