<div class="header__dropdown-menu" id="js-menu">
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title js-dropdown-menu__title">Техника</span>
		<div class="dropdown-menu__parent">
			<ul class="dropdown-menu__list">

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/varochnye-paneli-monsher/"
						title="Варочные панели">Варочные панели</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/dukhovye-shkafy-monsher/"
						title="Духовые шкафы">Духовые
						шкафы</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/mikrovolnovye-pechi-monsher/"
						title="Микроволновые печи">Микроволновые печи</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/posudomoechnye-mashiny-monsher/"
						title="Посудомоечные машины">Посудомоечные машины</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/vytyazhki-monsher/" title="Вытяжки">Вытяжки</a>

				</li>

				<li class="dropdown-menu__item">
					<a class="dropdown-menu__link" href="/catalog/aksessuary-monsher/" title="Аксессуары">Аксессуары</a>

				</li>
			</ul>
		</div>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last">
			<a href="/catalog/type-nov/" title="Новинки">Новинки</a>
		</span>
	</nav>
	<nav class="dropdown-menu">
		<span class="dropdown-menu__title last">
			<a href="/guarantee/#services-list" title="Сервис">Сервис</a>
		</span>
	</nav>
	{% include 'popup-call/callback.html' %}
</div>
