html, body, form, div, img, table, td, th, p, h1, h2, h3, h4, h5, h6, ul, li { 
	padding: 0;
	margin: 0;
	border: 0;
}

body {
	font: normal 12px Tahoma, Arial, Verdana;
	color: #000000;
	line-height: 1.2;
}

img {
	border: 0;
	outline: 0;
}

div.clear {
	clear: both;
	height: 0px;
	font-size: 0px;
}

a {
	color: blue;
	outline: 0;
	text-decoration: underline;
}

a:hover {
	text-decoration: none;
}

a.inv {
	text-decoration: none;
}

a.inv:hover {
	text-decoration: underline;
}

ul {
	list-style:none;
}

span.req,
span.starrequired,
.errortext {
	color: #D92717;
}

span.bold {
	font-weight: bold;
}

span.normal {
	font-weight: normal;
}

.errors {
	color: #D92717;
}

div.indicator {
	text-align: center;
	padding: 20px 0 0 0;
}

div.indicator .bg {
	width: 220px;
	height: 19px;
	overflow: hidden;
	background: url('ajax-loader.gif') no-repeat 0 0;
	margin: 0 auto;
}

#container {
	padding: 20px;
	width: 800px;
	overflow: hidden;
}

#state,
#log,
#errors,
#out,
#html {
	width: 600px;
}

#log {
	height: 300px;
	overflow-y: auto;
	border: 1px solid #ccc;
	padding: 10px;
}

#log hr {
	height: 1px;
	background: #ccc;
	border: none;
}

#log span.complete {
	padding: 0 10px;
	background: #ccc;
}

#html {
	padding-top: 10px;
}

#html #indicator {
	width: 220px;
	height: 19px;
	overflow: hidden;
	padding: 0 0 10px 0;
	background: url('indicator.gif') no-repeat -5px 0;
}