<div class="d-flex flex-column flex-md-row">
	<div class="breadcrumbs">
		<a href="#" class="breadcrumbs__link">Liebherr</a>
		<span class="breadcrumbs__sep">/</span>
		<span class="breadcrumbs__text">Отзывы о магазине L-RUS</span>
	</div>
	<h1 class="title">
		Отзывы о магазине L-RUS
	</h1>
	<div class="all-reviews">
		<div class="reviews">
			<div class="reviews__section">
				<div class="ratings">
					<b class="ratings__title">
						Средняя оценка:
					</b>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star ratings__none"></div>
					<b class="ratings__number">4,5</b>
					<a href="#" class="reviews__all">25 отзывов</a>
				</div>
				<div class="reviews-all__header">
					<span class="reviews-all__text">
							Отзывы с оценкой:
					</span>
					<a href="#" class="reviews-all__link active">
						Любые
					</a>
					<a href="#" class="reviews-all__link">
						Положительные
					</a>
					<a href="#" class="reviews-all__link">
						Отрицательные
					</a>
				</div>
				<div class="ratings">
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
				</div>
				<a href="#" class="reviews__all">15 отзывов</a>
				<div class="ratings">
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star ratings__none"></div>
				</div>
				<a href="#" class="reviews__all">8 отзывов</a>
				<div class="ratings">
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star"></div>
					<div class="ratings__star ratings__none"></div>
					<div class="ratings__star ratings__none"></div>
				</div>
				<a href="#" class="reviews__all">5 отзывов</a>
			</div>
			<a href="#" class="reviews__link js-viewForm" data-ajax data-url="ajax/reviews-new.html" data-action="reviewsAdd" data-id="1581">оставить отзыв</a>
			<div class="reviews__items">
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Ирина</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Татьяна</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Екатерина</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Анна</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Елена</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Наталья</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Анастасия</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
				<div class="reviews__item">
					<div class="reviews-list__field reviews-list__field_header">
						<div itemprop="author" itemscope="" itemtype="" class="reviews-list__col">
							<strong itemprop="name">Наталья</strong>
						</div>
						<div class="reviews-list__col reviews-list__col_desc">
							<div class="ratings ratings_small" itemprop="reviewRating" itemscope="" itemtype="">
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star"></div>
								<div class="ratings__star ratings__none"></div>
							</div>
						</div>
						<div class="reviews-list__col reviews-list__col_date">
							<meta itemprop="datePublished" content="2018-08-30">28 января 2018</div>
					</div>
					<div class="reviews-list__field reviews-list__field_footer">
						Покупали специально на дачу - маленький, но все необходимые продукты и небольшие кастрюли
						вмещаются. Морозит хорошо, достаточно тихий. Да, небольшая морозилка, но такой холодильничек и
						не для заморозки контейнеров ягод на зиму. В настоящее время спектр
						бытовой техники Liebherr невероятно широк. Ассортимент компании составляют устройства,
						встраиваемые под столешницу или в мебельные ниши кухонных гарнитуров, отдельностоящие приборы,
						морозильные лари, холодильно-морозильные комбинации, климатические
						шкафы для хранения вина
					</div>
				</div>
			</div>
			<div class="all-reviews__bottom">
					<a class="load-more" href="#">Загрузить еще</a>
					{% include 'pagination/pagination.html' %}
				</div>
		</div>
	</div>


</div>