html {
	overflow-y: scroll;

	&.no-overflow {
		overflow: unset;
	}

	&.js-height {
		height: 100%;
	}
}

img {
	// width: 100%;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.fixed {
	overflow: hidden;
	// width:calc(100% - 17px);
}

.swiper-container,
.swiper-container-three,
.swiper-container-two {
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0 !important;
	z-index: 1;
	width: 100%;
}

.popup {
	display: none;

	.response-popup {
		padding: 1rem;

		&__title {

			font-size: 24px;
			font-weight: 500;
			font-style: normal;
			font-stretch: normal;
			line-height: 1;
			letter-spacing: normal;
			text-align: center;
			color: #2e2e2e;
			margin: 1rem 0;
		}

		&__text {

			font-size: 14px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.57;
			letter-spacing: normal;
			text-align: center;
			color: #262626;
			margin-bottom: 1rem;
		}
	}
}

h1.title {
	color: #333333;
	font-family: "Roboto Condensed";
	font-size: 30px;
	font-weight: 400;
	line-height: 44px;
	text-transform: uppercase;
	width: 75%;
	margin-bottom: 20px;
	margin-top: 10px;
}

.container .col-md-9 {
	padding: 0;
	position: relative;

	@media (min-width: 768px) {
		margin-left: 7px;
		flex: 0 0 calc(75% - 7px);
		max-width: calc(75% - 7px);
	}
}

.col-md-3 {
	padding-left: 0;

}

.fancybox-container {
	transition: all 0.3s ease-in-out !important;
}

.fancybox-image-wrap {
	top: 50% !important;
	transform: translateX(-50%)translateY(-50%)scale(1) !important;
	left: 50% !important;
	width: auto !important;
	max-width: 100% !important;
	height: auto !important;
	display: flex !important;
	flex-direction: column !important;
	align-items: center !important;
	justify-content: center !important;
	transition: all 0.3s ease-in-out;

	img {
		position: unset !important;
		width: fit-content !important;
		height: auto !important;
		max-width: 100%;
		cursor: pointer !important;
	}


}

.fancybox-container {
	transition-duration: 500ms !important;
}

.compensate-for-scrollbar {
	margin-right: 0px !important;
}

body.fancybox-active {
	overflow: unset !important;
}

.docs-frame {
	display: flex;
	// flex-shrink: 0;
	max-width: 100%;
	height: 500px;
	display: block;
	overflow-y: auto;
	margin-bottom: 16px;

	iframe {
		// height: auto !important;
		height: 100% !important;
		// width: 100%;
		// // overflow: hidden;
		// margin: 0px;
		// // max-height: 1176px !important;
		// overflow-y: scroll !important;
		// height: 1176px !important;
		padding-bottom: 24px;
	}
}

.button-close {
	position: absolute;
	top: 6px;
	right: 7px;
	background: url('../images/close.svg');
	background-size: 100%;
	width: 12px;
	height: 12px;
	cursor: pointer;
	z-index: 10;
}
.advantages +
.all-video {
	position: relative;
	display: flex;
	width: 100%;

	// .all-video__title

	&__title,.all-video__title {
		color: #212121;
		font-family: "Roboto Condensed";
		font-size: 30px;
		font-weight: 400;
		width: 100%;
		margin-bottom: 39px;
		margin-top: 4px;
	}

	// .all-video__items

	&__items,.all-video__items {
		display: flex;
		height: auto;
	}

	.swiper-pagination-all-video {
		display: none;
	}

	// .all-video__item

	&__item,.all-video__item {
		width: calc((100%/3) - 19px);

		height: auto;

		&:last-of-type {
			margin: 0 0 39px;
		}

		&:nth-child(3n-1) {
			margin: 0 28px 39px;
		}

		// margin-right: 28px;
	}

	// .all-video__link

	&__more,.all-video__more {
		color: #394791;
		font-family: "Roboto Condensed";
		font-size: 14px;
		font-weight: 400;
		line-height: 24px;
		text-transform: uppercase;
		position: absolute;
		right: 0;
		top: 0;
		width: 97px;
		height: 36px;
		border-radius: 3px;
		border: 1px solid #394791;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

@media screen and (max-width: 767px) {
	h1.title {
		font-size: 30px;
		font-weight: 500;
		font-style: normal;
		font-stretch: normal;
		line-height: 42px;
		letter-spacing: normal;
		text-align: left;
		color: #262626;
		width: 100%;
		background: none;

		&.shipping-payment__title {
			padding: 15px 0;
		}
	}


	.col-md-3 {
		padding-right: 0;
		padding-left: 0;
		padding-top: 14px;

		&.order {
			order: 1;
		}
	}

	.fixed {
		width: 100%;
	}
	.advantages + 	.all-video {
		width: 100%;
		flex-direction: column;
		margin-bottom: 44px;

		// .all-video__title

		&__title,.all-video__title {
			color: #212121;
			font-family: "Roboto Condensed";
			font-size: 24px;
			font-weight: 400;
			margin-bottom: 25px;
		}

		// .all-video__more

		&__more,.all-video__more {
			position: unset;
			order: 5;
			width: 100%;
			height: 51px;
			border-radius: 3px;
			border: 1px solid #394791;
		}

		// .all-video__item

		&__item,.all-video__item {
			margin-bottom: 0;
			height: auto;
		}

		&__items,.all-video__items {
			margin-bottom: 11px;
		}

		// .all-video__link

		&__link {}

		iframe {
			margin-bottom: 13px;
			max-height: 177px;
			margin-bottom: 12px;
			height: 177px;
			pointer-events: none;
		}

		.swiper-pagination-all-video {
			display: flex;
			width: 100%;
			justify-content: center;
			margin-bottom: 30px;
		}
	}

}
