.noLine {
  border: none !important;
}
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.BadPols2 {
	border-color: #e03127 !important;
}

.BadPols {
	border-color: #e03127 !important;
}

div.BadPols,
span.BadPols {
	color: #e03127 !important;
}

input.BadPols,
textarea.BadPols {
	background: #fef0f0;
}
.alert-good {
  color: #009b67;
  margin-bottom: 15px;
}
.alert-danger {
  font-size: 12px;
  color: #e03127;
  margin-bottom: 15px;
}

.clear2 {
  clear: both !important;
  margin: 0px 0px 0px 0px !important;
  padding: 0px 0px 0px 0px;
  position: static !important;
  height: 0px;
  line-height: 0px;
  font-size: 0px;
  float: none !important;
  background: none;
}
button {
	cursor:pointer;
}
.b-center {
	text-align: center;
	-webkit-box-pack:center;
	    -ms-flex-pack:center;
	        justify-content:center;
}
.b-left {
	text-align: left;
}
font.notetext {
	text-align: center;
	display: block;
	color: #000;
	font-size: 30px;
	font-weight: 400;
	margin-bottom: 35px;

}

#ajax-loader img{
	width:20px; 
	height:20px; 
	vertical-align: middle;
	display: none;
}


form {
	display: block;
}



/* ################################################################## */
/* ################################################################## */
.seo-text h1.title {
	width: 100%;
	text-align: center;
	
}

/* ################################################################## */
/* ################################################################## */

.docs-frame {
	width: 100%;
	display: block;
}
.docs-frame iframe {
	height: 1000px;
	width: 100%;
}
.docs-frame_links {
	width: 100%;
	display: block;
	margin-bottom: 20px;
}
.docs-frame img {
	max-width: 100%;
	max-height: 800px;
}

@media screen and (max-width: 768px) {
	.docs-frame iframe {
		height: 500px;
	}
}
@media screen and (max-width: 468px) {
	.docs-frame iframe {
		height: 300px;
	}
}
/* ################################################################## */
/* ################################################################## */



/* ################################################################## */
/* ################################################################## */





.pic_left {
	float: left;
	margin: 0 20px 20px 0;
}

.pic_right {
	float: right;
	margin: 0 0 20px 20px;
}


.product-mess_offer {	
	font-size: 10px;
	line-height: 12px;
	margin-top: -25px;
}


.order-form .form__payment {
	padding-bottom: 0;
	
}
.basket {
	margin-bottom: 80px;
}

.order-form .border {
	width: auto;
}

